In [4]:
import pandas as pd
import numpy as np

In [6]:


columns = ["World Rank" , "University name", "Overall Score", "International Research Network" , "H-Index citations", "Citations per paper" , "Academic reputation", "Employer Reputation"]

df = pd.read_json('data.json')
df = pd.DataFrame(df, columns=columns)

In [7]:
df['World Rank'] = df['World Rank'].apply(lambda x: x.replace('=', ''))

In [8]:
df.to_csv("QS_World_University_Rankings_by_Subject_2022_Natural_Sciences.csv" , index= False)

In [15]:
df = pd.read_csv("QS_World_University_Rankings_by_Subject_2022_Natural_Sciences.csv")
df

,World Rank,University name,Overall Score,International Research Network,H-Index citations,Citations per paper,Academic reputation,Employer Reputation
0,1,Massachusetts Institute of Technology (MIT),96.4,91.1,92.6,97.3,97.8,98.2
1,2,Harvard University,96.3,95.0,89.5,98.2,96.6,100.0
2,3,University of Cambridge,95.8,91.9,92.1,94.8,97.1,98.6
3,4,University of Oxford,95.2,95.6,86.9,94.6,96.4,99.1
4,5,Stanford University,94,78.9,92.1,99.3,95.6,95.7
...,...,...,...,...,...,...,...,...
498,451-500,Universität Regensburg,-,59.8,67.9,85.0,57.5,46.1
499,451-500,"Université de Savoie, Chambery, Annecy",-,71.3,86.3,86.6,47.8,34.2
500,451-500,Wayne State University,-,67.2,74.2,77.3,52.3,44.7
501,451-500,Wroclaw University of Science and Technology (...,-,72.6,52.3,70.2,60.9,51.8
502,451-500,York University,-,59.3,71.6,72.4,51.5,57.9

In [16]:
print(len(df["University name"]))

503

In [ ]:
df.describe

In [18]:
# top 100 universities name, rank, overall score, IRN
df.iloc[:101, :5]

,World Rank,University name,Overall Score,International Research Network,H-Index citations
0,1,Massachusetts Institute of Technology (MIT),96.4,91.1,92.6
1,2,Harvard University,96.3,95.0,89.5
2,3,University of Cambridge,95.8,91.9,92.1
3,4,University of Oxford,95.2,95.6,86.9
4,5,Stanford University,94,78.9,92.1
...,...,...,...,...,...
96,96,Texas A&M University,77,81.8,79.1
97,96,Utrecht University,77,75.0,78.1
98,99,Durham University,76.9,68.7,77.9
99,99,University of Southampton,76.9,86.7,78.9
100,101,Politecnico di Milano,76.8,85.8,63.9

In [20]:
# top 100 rank, name, h-index, ciatation per paper
df[["World Rank", "University name", "H-Index citations", "Citations per paper"]].iloc[:101]

,World Rank,University name,H-Index citations,Citations per paper
0,1,Massachusetts Institute of Technology (MIT),92.6,97.3
1,2,Harvard University,89.5,98.2
2,3,University of Cambridge,92.1,94.8
3,4,University of Oxford,86.9,94.6
4,5,Stanford University,92.1,99.3
...,...,...,...,...
96,96,Texas A&M University,79.1,86.8
97,96,Utrecht University,78.1,89.6
98,99,Durham University,77.9,94.8
99,99,University of Southampton,78.9,87.0
100,101,Politecnico di Milano,63.9,77.6

In [24]:
print(type(df["Overall Score"][1]))

<class 'str'>

In [25]:
print(df.dtypes)

World Rank                         object
University name                    object
Overall Score                      object
International Research Network    float64
H-Index citations                 float64
Citations per paper               float64
Academic reputation               float64
Employer Reputation               float64
dtype: object

In [51]:
# Replace dash with null value
df['Overall Score'] = df['Overall Score'].replace('-', np.nan)

# Drop rows with null values
df = df.dropna()

# Change the "Value" column to float
df['Overall Score'] = df['Overall Score'].astype(float)
print(df.dtypes)

World Rank                         object
University name                    object
Overall Score                     float64
International Research Network    float64
H-Index citations                 float64
Citations per paper               float64
Academic reputation               float64
Employer Reputation               float64
dtype: object

C:\Users\akibi\AppData\Local\Temp\ipykernel_10488\428711818.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Overall Score'] = df['Overall Score'].replace('-', np.nan)

In [52]:
# get all the universities name overall score>90

df[df["Overall Score"]>90]

,World Rank,University name,Overall Score,International Research Network,H-Index citations,Citations per paper,Academic reputation,Employer Reputation
0,1,Massachusetts Institute of Technology (MIT),96.4,91.1,92.6,97.3,97.8,98.2
1,2,Harvard University,96.3,95.0,89.5,98.2,96.6,100.0
2,3,University of Cambridge,95.8,91.9,92.1,94.8,97.1,98.6
3,4,University of Oxford,95.2,95.6,86.9,94.6,96.4,99.1
4,5,Stanford University,94.0,78.9,92.1,99.3,95.6,95.7
5,6,ETH Zurich,93.9,91.0,86.9,93.7,98.7,91.0
6,7,California Institute of Technology (Caltech),93.4,78.2,90.1,96.0,100.0,88.3
7,8,"University of California, Berkeley (UCB)",93.3,90.5,87.4,98.0,95.7,90.9
8,9,Imperial College London,91.5,92.9,85.4,90.6,94.7,89.5
9,10,The University of Tokyo,90.1,85.6,88.9,88.3,93.0,88.6

In [53]:
selected_rows = df.loc[(df["Overall Score"] > 80) & (df["Overall Score"] < 90)]

print(selected_rows)

   World Rank                                    University name  \
10         11                                               EPFL
11         11                               Princeton University
12         13  Nanyang Technological University, Singapore (NTU)
13         14                                Sorbonne University
14         15             National University of Singapore (NUS)
15         16                  Lomonosov Moscow State University
16         17                                     Université PSL
17         18       University of California, Los Angeles (UCLA)
18         19                              University of Chicago
19         20                             Universit Paris-Saclay
20         21                                  Peking University
21         22                    Institut Polytechnique de Paris
22         23                                Tsinghua University
23         24                              University of Toronto
24         25                                   Kyoto University
25         26                     University of British Columbia
26         27               Australian National University (ANU)
27         28                     Technical University of Munich
28         29                          Seoul National University
29         30         Tokyo Institute of Technology (Tokyo Tech)
30         31                                    Yale University
31         32                                 Cornell University
32         33                      University of Texas at Austin
33         34                   University of Michigan-Ann Arbor
34         35                                Columbia University
35         36         University of California, San Diego (UCSD)
36         37                                                UCL
37         38                        The University of Melbourne
38         38                           University of Washington
39         40                        The University of Edinburgh
40         40                       The University of Manchester
41         42                     Delft University of Technology
42         42         University of Illinois at Urbana-Champaign
43         44                        Sapienza University of Rome
44         45     University of California, Santa Barbara (UCSB)
45         46             Ludwig-Maximilians-Universität München
46         47  KAIST - Korea Advanced Institute of Science & ...
47         48             KIT, Karlsruhe Institute of Technology
48         49                           The University of Sydney
49         50                            Northwestern University
50         50                    University of Wisconsin-Madison
51         52              Ruprecht-Karls-Universität Heidelberg
52         53    The University of New South Wales (UNSW Sydney)
53         54  The Hong Kong University of Science and Techno...
54         55                                  Monash University
55         56                    Georgia Institute of Technology
56         57                        The University of Hong Kong

    Overall Score  International Research Network  H-Index citations  \
10           88.7                            77.6               80.1
11           88.7                            74.8               87.9
12           88.1                            76.5               85.2
13           87.9                            99.2               96.3
14           87.8                            68.1               78.9
15           87.5                            88.6               83.4
16           87.2                            84.2               98.4
17           87.0                            77.7               81.5
18           86.7                            80.9               88.2
19           86.3                            84.2               96.1
20           86.2                            70.4               88.7
21           85.9                            85.4               89.2
22           85.8                            68.7               88.9
23           85.5                            78.9               85.9
24           84.7                            77.5               83.2
25           84.6                            83.7               82.8
26           84.2                            79.3               81.9
27           84.0                            75.6               83.2
28           83.9                            71.1               78.9
29           83.8                            82.5               76.5
30           83.7                            66.2               81.7
31           83.5                            73.0               83.2
32           83.2                            85.4               84.0
33           82.9                            91.7               84.4
34           82.6                            73.0               87.4
35           82.5                            85.6               85.0
36           82.3                            92.4               81.7
37           82.2                            79.7               80.3
38           82.2                            87.6               86.7
39           82.1                            83.3               83.4
40           82.1                            88.3               81.9
41           81.9                            82.7               77.1
42           81.9                            74.4               82.6
43           81.8                            95.9               84.4
44           81.4                            72.4               85.8
45           81.3                            77.2               80.3
46           81.2                            63.7               62.9
47           81.0                            87.0               85.2
48           80.9                            77.9               78.4
49           80.7                            77.0               82.8
50           80.7                            85.4               82.6
51           80.6                            80.4               81.0
52           80.5                            81.5               75.4
53           80.4                            54.6               74.8
54           80.3                            80.9               77.3
55           80.2                            75.5               79.1
56           80.1                            59.7               77.3

    Citations per paper  Academic reputation  Employer Reputation
10                 94.0                 94.2                 85.6
11                100.0                 91.7                 81.7
12                 91.2                 88.1                 93.8
13                 89.5                 86.0                 78.3
14                 91.9                 89.4                 98.1
15                 70.7                 90.3                 96.9
16                 90.2                 85.2                 82.2
17                 92.0                 89.2                 87.8
18                 99.5                 86.5                 79.1
19                 87.1                 84.3                 83.6
20                 90.1                 89.1                 83.3
21                 88.0                 84.8                 84.4
22                 86.5                 88.5                 86.0
23                 90.8                 87.3                 80.9
24                 87.0                 88.6                 79.8
25                 89.4                 85.2                 81.8
26                 91.5                 84.0                 83.2
27                 88.8                 88.6                 76.1
28                 84.1                 86.9                 87.8
29                 82.1                 88.4                 82.2
30                 98.1                 81.2                 87.9
31                 92.1                 85.4                 78.9
32                 91.3                 82.3                 77.4
33                 90.2                 79.8                 78.2
34                 96.1                 80.6                 77.9
35                 90.7                 81.5                 74.8
36                 90.6                 77.8                 80.4
37                 89.5                 78.5                 86.8
38                 93.1                 80.0                 72.1
39                 92.2                 79.9                 77.3
40                 89.1                 78.8                 80.7
41                 84.7                 81.8                 83.3
42                 90.1                 83.3                 76.4
43                 84.5                 79.1                 76.0
44                 97.8                 83.7                 65.9
45                 93.3                 85.4                 66.8
46                 83.8                 89.7                 84.5
47                 86.8                 81.8                 68.7
48                 88.7                 78.7                 82.6
49                 96.0                 79.2                 72.6
50                 92.5                 78.8                 71.8
51                 94.8                 81.3                 68.4
52                 86.3                 78.0                 84.5
53                 92.8                 82.9                 83.0
54                 89.5                 75.5                 85.0
55                 87.9                 80.1                 77.8
56                 88.9                 80.5                 85.1

In [54]:
df.isnull().sum()

World Rank                        0
University name                   0
Overall Score                     0
International Research Network    0
H-Index citations                 0
Citations per paper               0
Academic reputation               0
Employer Reputation               0
dtype: int64

In [55]:
df.tail()

,World Rank,University name,Overall Score,International Research Network,H-Index citations,Citations per paper,Academic reputation,Employer Reputation
395,396,Keio University,63.1,49.1,59.1,75.2,60.7,68.7
396,396,Universidad de Concepción,63.1,64.1,52.3,71.1,67.0,57.1
397,396,University of Central Florida,63.1,69.1,61.4,82.0,58.5,56.6
398,396,Université Laval,63.1,68.1,59.7,77.2,60.0,59.0
399,400,University of Kansas,63.0,70.2,72.9,78.3,52.5,61.4

In [56]:
print(len(df))

400

## sorting

In [57]:
# Sort the values in the "Citations per paper" column in descending order
ciatation_df = df.sort_values(by='Citations per paper', ascending=False)
ciatation_df

,World Rank,University name,Overall Score,International Research Network,H-Index citations,Citations per paper,Academic reputation,Employer Reputation
11,11,Princeton University,88.7,74.8,87.9,100.0,91.7,81.7
18,19,University of Chicago,86.7,80.9,88.2,99.5,86.5,79.1
4,5,Stanford University,94.0,78.9,92.1,99.3,95.6,95.7
1,2,Harvard University,96.3,95.0,89.5,98.2,96.6,100.0
30,31,Yale University,83.7,66.2,81.7,98.1,81.2,87.9
...,...,...,...,...,...,...,...,...
234,234,RUDN University,69.3,95.6,48.9,57.2,66.8,85.4
371,372,Bandung Institute of Technology (ITB),63.9,38.8,42.5,54.0,71.2,85.4
336,334,Universidad de los Andes,65.3,65.7,70.9,52.6,67.3,66.2
383,384,Belarusian State University,63.5,73.6,76.0,49.0,61.3,64.3
386,387,Bauman Moscow State Technical University,63.4,40.3,40.0,48.5,70.5,89.4

In [59]:
# sorting ased on academic reputaution and employer reputation
reputation_df = df.sort_values(by=['Academic reputation', 'Employer Reputation'],ascending=False)
reputation_df

,World Rank,University name,Overall Score,International Research Network,H-Index citations,Citations per paper,Academic reputation,Employer Reputation
6,7,California Institute of Technology (Caltech),93.4,78.2,90.1,96.0,100.0,88.3
5,6,ETH Zurich,93.9,91.0,86.9,93.7,98.7,91.0
0,1,Massachusetts Institute of Technology (MIT),96.4,91.1,92.6,97.3,97.8,98.2
2,3,University of Cambridge,95.8,91.9,92.1,94.8,97.1,98.6
1,2,Harvard University,96.3,95.0,89.5,98.2,96.6,100.0
...,...,...,...,...,...,...,...,...
377,377,University of Genoa,63.7,71.7,80.8,80.3,55.1,51.7
379,377,University of Iowa,63.7,72.2,77.6,80.6,54.6,54.5
365,363,Vanderbilt University,64.3,72.0,72.9,82.9,54.5,59.5
370,369,Tampere University,64.0,73.3,75.4,82.7,53.8,57.3
399,400,University of Kansas,63.0,70.2,72.9,78.3,52.5,61.4

In [61]:
# H-Index ciations which is greater than 85
def h_index(num):
    return num>85

h_index_df = df[df["H-Index citations"].apply(lambda x : h_index(x))]
h_index_df

,World Rank,University name,Overall Score,International Research Network,H-Index citations,Citations per paper,Academic reputation,Employer Reputation
0,1,Massachusetts Institute of Technology (MIT),96.4,91.1,92.6,97.3,97.8,98.2
1,2,Harvard University,96.3,95.0,89.5,98.2,96.6,100.0
2,3,University of Cambridge,95.8,91.9,92.1,94.8,97.1,98.6
3,4,University of Oxford,95.2,95.6,86.9,94.6,96.4,99.1
4,5,Stanford University,94.0,78.9,92.1,99.3,95.6,95.7
5,6,ETH Zurich,93.9,91.0,86.9,93.7,98.7,91.0
6,7,California Institute of Technology (Caltech),93.4,78.2,90.1,96.0,100.0,88.3
7,8,"University of California, Berkeley (UCB)",93.3,90.5,87.4,98.0,95.7,90.9
8,9,Imperial College London,91.5,92.9,85.4,90.6,94.7,89.5
9,10,The University of Tokyo,90.1,85.6,88.9,88.3,93.0,88.6
11,11,Princeton University,88.7,74.8,87.9,100.0,91.7,81.7
12,13,"Nanyang Technological University, Singapore (NTU)",88.1,76.5,85.2,91.2,88.1,93.8
13,14,Sorbonne University,87.9,99.2,96.3,89.5,86.0,78.3
16,17,Université PSL,87.2,84.2,98.4,90.2,85.2,82.2
18,19,University of Chicago,86.7,80.9,88.2,99.5,86.5,79.1
19,20,Universit Paris-Saclay,86.3,84.2,96.1,87.1,84.3,83.6
20,21,Peking University,86.2,70.4,88.7,90.1,89.1,83.3
21,22,Institut Polytechnique de Paris,85.9,85.4,89.2,88.0,84.8,84.4
22,23,Tsinghua University,85.8,68.7,88.9,86.5,88.5,86.0
23,24,University of Toronto,85.5,78.9,85.9,90.8,87.3,80.9
34,35,Columbia University,82.6,73.0,87.4,96.1,80.6,77.9
38,38,University of Washington,82.2,87.6,86.7,93.1,80.0,72.1
44,45,"University of California, Santa Barbara (UCSB)",81.4,72.4,85.8,97.8,83.7,65.9
47,48,"KIT, Karlsruhe Institute of Technology",81.0,87.0,85.2,86.8,81.8,68.7
58,58,Université Paris Cité,80.0,100.0,100.0,91.3,76.1,54.5
71,71,University of Colorado Boulder,78.8,78.8,87.9,91.4,78.3,63.4
72,71,"University of Maryland, College Park",78.8,81.6,90.6,95.8,73.1,67.0
169,169,Universitat de Valencia,72.4,82.4,85.4,90.5,65.4,58.0